body {
    background-color: #333333;
}

h2 {
    text-align: center;
    border-top: 2px dotted #333333;
    border-bottom: 2px dotted #333333;
}

.page-container {
    width: 80%;
    margin: -8px auto;
    padding-bottom: 20px;
    background-color: white;
}

.main-header {
    text-align: center;
    border-top: 2px dotted #333333;
    border-bottom: 2px dotted #333333;
}

.header-image {
    width: 100%;
    height: auto;
}

.recipe-card {
    border: 2px dotted #333333;
    background-color: white;
    margin-bottom: 10px;
}

.recipe-card img {
    width: 250px;
    height: auto;
    display: inline-block;
}

.recipe-card-description {
    display: inline-block;
    width: 500px;
    margin-top: 20px;
    vertical-align: top;
}

.recipe-list {
    width: 800px;
    margin: auto;
}

.recipe-list p {
    text-align: center;
}

.dish-picture {
    max-width: 100%;
    width: 800;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dish-description {
    text-align: center;
    font-style: italic;
}

ul, ol {
    background-color: #f2f2f2;
}