body {
    background-color: #333333;
}

h2 {
    text-align: center;
    border-top: 2px dotted #333333;
    border-bottom: 2px dotted #333333;
}

.page-container {
    width: 80%;
    margin: -8px auto;
    padding-bottom: 20px;
    background-color: white;
}

.main-header {
    text-align: center;
    border-top: 2px dotted #333333;
    border-bottom: 2px dotted #333333;
}

.header-image {
    width: 100%;
    height: auto;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.recipe-list > .recipe-card {
    border: 2px dotted #333333;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.recipe-card > img {
    flex: 1 1 0;
    max-width: 500px;
    min-width: 200px;
    height: auto;
}

.recipe-card > .recipe-card-description {
    flex: 1 1 0;
    margin-top: 20px;
}

.dish-picture {
    max-width: 100%;
    width: 800;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dish-description {
    text-align: center;
    font-style: italic;
}

ul, ol {
    background-color: #f2f2f2;
}